*{
    margin:0;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    background-color: black;
    color: white;
}

.left img{
    height: 30px;
    width: 100px;
    margin-left: 30px;
    padding: 7px;

}

.middle input{
    width: 450px;
    height: 25px;
}

.middle img{
    height: 25px;
}